<div class="overall">
  <!-- <h2>{{ APIDATA()?.scoringModel }}</h2> -->
  <div class="main-container container">
    <div class="header">
      <div class="d-flex justify-content-between align-items-center">
        <div class="left_sc_in">
          <h3 class="mb-2">{{ APIDATA()?.title }}</h3>
          @if (APIDATA()?.evaluationType == 'ai') { AI evaluationType } @else { Manual
          evaluationType }
          <p>
            Design your scorecard by adding or removing different meta data fields or scoring
            criteria
          </p>
        </div>
        <div class="table-search-right-cont">
          @if (APIDATA().evaluationType == 'manual' ) {
          <button class="btn save-only-btn br-5 mr-3" id="submitButton" (click)="OpenEditModal()">
            Setting
          </button>
          <!-- <button
              class="btn save-only-btn br-5 mr-3"
              id="submitButton"
              (click)="SaveOnlyScoreCard()"
            >
              

              Save Only
            </button>
            <button class="btn btn-primary save-review-btn" id="submitButton" type="submit">
              Save &amp; Publish
            </button> -->
          @if (isEditModalOpen()) {
          <div class="modal-backdrop" (click)="closeEditModal()"></div>
          <div class="scorecard-modal">
            <p>{{ APIDATA().title }}</p>
            <p>{{ APIDATA().description }}</p>
            <p>{{ APIDATA().scoringModel }}</p>
            <div class="form-container">
              <div class="form-header">
                <div>
                  <h3>ScoreCard Setting</h3>
                  <p>Manage ScoreCard Here</p>
                </div>
                <div class="close-btn">
                  <button class="filter-close-btn" (click)="closeEditModal()">close</button>
                </div>
              </div>
              <div class="form-body">
                <form [formGroup]="EditFormData" (ngSubmit)="EditFormSubmit()">
                  <div class="modal-body container">
                    <div class="mb-3">
                      <label for="" class="form-label">Name</label
                      ><input
                        maxlength="64"
                        name="title"
                        type="text"
                        formControlName="title"
                        class="form-control mxw-270"
                        placeholder="Enter scorecard name here..."
                        required
                      />
                    </div>

                    <div class="mb-3">
                      <label for="" class="form-label">Description</label
                      ><textarea
                        maxlength="364"
                        name="description"
                        type="text"
                        formControlName="description"
                        class="form-control"
                        rows="4"
                        cols="50"
                        placeholder="Enter scorecard description here..."
                        style="height: 50px"
                      ></textarea>
                    </div>
                    <div class="mb-3">
                      <label for="" class="form-label">ID</label
                      ><textarea
                        maxlength="364"
                        name="id"
                        type="text"
                        formControlName="id"
                        class="form-control"
                        rows="4"
                        cols="50"
                        style="height: 50px"
                      ></textarea>
                    </div>
                    <div class="row" style="margin-top: 15px">
                      <div class="col-md-9">
                        <p class="all-groups-label">All Groups (Apply to All New Groups)</p>
                        <input type="checkbox" name="isAllGroups" formControlName="isAllGroups" />
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="" class="form-label">Groups</label
                      ><textarea
                        maxlength="364"
                        name="id"
                        type="text"
                        formArrayName="groups"
                        class="form-control"
                        rows="4"
                        cols="50"
                        style="height: 50px"
                      ></textarea>
                    </div>
                    <div class="mb-3">
                      <label for="" class="form-label">Evaluation Type</label
                      ><textarea
                        maxlength="364"
                        name="evaluationType"
                        type="text"
                        formControlName="evaluationType"
                        class="form-control"
                        rows="4"
                        cols="50"
                        style="height: 50px"
                      ></textarea>
                    </div>
                    <div class="mb-3">
                      <label for="" class="form-label">Scoring Model</label
                      ><textarea
                        maxlength="364"
                        name="scoringModel"
                        type="text"
                        formControlName="scoringModel"
                        class="form-control"
                        rows="4"
                        cols="50"
                        style="height: 50px"
                      ></textarea>
                    </div>
                    <div class="">
                      <label for="" class="form-label">Coaching Form</label
                      ><select
                        name="coachingForm"
                        type="text"
                        class="form-control"
                        formControlName="coachingForm"
                      >
                        <option value="">Select Coaching Form</option>
                        <option value="62c468c908f6fd2a42e044ad">Weekly Performance Review</option>
                        <option value="62c46b9608f6fd2a42e044bb">One on One</option>
                        <option value="63053017bff36191fc43260c">Documentation</option>
                        <option value="63220239b288c12ebbbb14aa">User Feedback</option>
                        <option value="63f52beb9d2946874240c301">CF - Agent Can't View</option>
                        <option value="63f52c169d2946874240c303">CF - Agent Can View</option>
                        <option value="63f62d299d2946874240c38f">QA - Coaching Form</option>
                        <option value="6488f2588bc0bd20973cadc7">Basic Coaching Form</option>
                        <option value="65a0302b1622091d5896a107">
                          Coaching Form - Testing Groups
                        </option>
                        <option value="65a030861622091d5896a109">
                          Coaching Form - Testing Form Fields
                        </option>
                        <option value="6662f6f51319abb22d61fda4">
                          By checking this box, all coaching sessions comple
                        </option>
                        <option value="6662f74c1319abb22d61fda8">
                          By checking this box, all coaching sessions completed using this
                        </option>
                        <option value="6662ff071319abb22d61fdb7">Edit</option>
                        <option value="666656dd1319abb22d61fdef">Commitment Testing 1</option>
                        <option value="6666b4d21319abb22d61fe28">commitments testing 123</option>
                        <option value="66674b131319abb22d61fe50">Generative AI Test</option>
                        <option value="66684bd31319abb22d61fe75">
                          Coaching Form Settings Reminders
                        </option>
                        <option value="66698c101319abb22d61fe8f">Add follow up date</option>
                        <option value="666ac4797eb797c675521229">Coaching Form Settings 1</option>
                        <option value="666ad2673d37860904e388e6">latest testing 1</option>
                        <option value="666af76b3d37860904e388f6">
                          Last Testing 1 Edit From Settings
                        </option>
                        <option value="66901b4b4e34ad5be9e3d380">Commmm</option>
                        <option value="669e659135507fb1778d76aa">
                          Test Coaching Form - No Notification
                        </option>
                        <option value="669e722535507fb1778d76cb">
                          Test Coaching Form - No Notifications Correct
                        </option>
                        <option value="66cf0f878ac6ef45987565a1">Agent Notification</option>
                        <option value="66cf0fdb8ac6ef45987565a8">No Agent Notification</option>
                        <option value="670d3613208051aedc445f8b">Test Form</option>
                        <option value="6712468c208051aedc446006">Form</option>
                        <option value="6717af065cc26b25047c0f78">Five Lumens Form</option>
                        <option value="67181cbb5cc26b25047c0f7a">
                          Includes All Coaching Questions
                        </option>
                        <option value="673b075f092edff0d9210119">Scorecard Form</option>
                        <option value="674b042f702ad7dc93ded1bf">
                          Basic Coaching Form with User Acknowledgement
                        </option>
                        <option value="674b048b702ad7dc93ded1c1">
                          Basic Coaching Form with No User Acknowledgement
                        </option>
                        <option value="674c7c38cdefaa1d1a669afc">All Fields</option>
                        <option value="676189931ceb22a080ebf2bc">Export Test</option>
                        <option value="67628c851ceb22a080ebf554">Commitments 18DEC</option>
                        <option value="6762d884c4030750ca61142d">gsddgsDG</option>
                        <option value="67640b2200115d6e9f7e706b">Coaching Form</option>
                        <option value="67642b5904f7577542cb4f7e">ds</option>
                        <option value="67696391ef8f468f9f61a373">Coaching Form for Admin</option>
                        <option value="67697341ef8f468f9f61a418">23 DEC 2024</option>
                        <option value="6769763fef8f468f9f61a421">Lumens Coaching Form</option>
                        <option value="678561e1afce6559aa0742ac">Jan 13, 2025</option>
                        <option value="67865ac5afce6559aa0744cc">New Form</option>
                        <option value="678a4a644933b8d158812995">Jan 25</option>
                        <option value="678d05a04933b8d1588135ae">Test - Visible to Agent</option>
                        <option value="678d06354933b8d1588135b3">
                          Test - Not Visible to Agent
                        </option>
                        <option value="67925ddb0bfaa19c2babbd23">Jan 23, 2025</option>
                        <option value="6797bfd015626a218c6c2185">
                          All Groups (Apply to All New Groups)
                        </option>
                        <option value="6797cd5e15626a218c6c21df">27 Jan Coaching</option>
                        <option value="6798a16ad115f03aeb6bb681">Clone Coaching form 27 Jan</option>
                        <option value="6798d03ab256a93d5f3d2769">Jan 28</option>
                        <option value="6798f15db256a93d5f3d281c">Clone Coaching Form</option>
                        <option value="6798fc9f28b1544bed51fbc3">24 Cloning</option>
                        <option value="6799028e28b1544bed51fcdd">asdasdasd</option>
                        <option value="6799069b28b1544bed51fd38">
                          Multi Select with more options
                        </option>
                        <option value="67990a4428b1544bed51fdb5">Advance 29</option>
                        <option value="679b475f0fc5328fd21fa9f1">Final Round</option>
                        <option value="679b6b68a2af2496fea680ef">All Required True</option>
                        <option value="679b6e04a2af2496fea68129">xhsbxxhs jx</option>
                        <option value="67adc5e5cd97fd07f8a17c1a">Live Testing Feb 13</option>
                        <option value="67adfd7ecd97fd07f8a17c70">Third Level</option>
                        <option value="67adfef2cd97fd07f8a17c77">Clone</option>
                        <option value="67ae65e7cd97fd07f8a183f0">Simple Coaching Form</option>
                        <option value="67ae79d0cd97fd07f8a1860b">Commitment</option>
                        <option value="67b49bbc1e6509364b9b0803">
                          Test - All Groups - Agent View
                        </option>
                        <option value="67b4a7581e6509364b9b08a5">Visible to Manager Only</option>
                        <option value="67b4aa2f1e6509364b9b08f5">Another Form</option>
                        <option value="67b5a0571e6509364b9b0e21">H - Visible to Manage Only</option>
                        <option value="67b5a08e1e6509364b9b0e25">
                          H - Not Visible to Manger Only
                        </option>
                        <option value="67b5aa9752dc11bb4cf458a8">testing visibilty</option>
                        <option value="67c08cc7341000a487ac2460">Coaching Form Edited</option>
                        <option value="67c0df026b832fac2e4acbf0">
                          Coaching Form - Single &amp; Multi Select - All Groups
                        </option>
                        <option value="67d320d55a08ab6cac659d16">
                          Testing Email with Manager Only
                        </option>
                        <option value="67d321925a08ab6cac659d3f">
                          Testing Email with Agent View
                        </option>
                        <option value="67d323b95a08ab6cac659d96">
                          Testing email with agent view
                        </option>
                        <option value="67d32ec985791b7652415834">Testing Devteam</option>
                        <option value="67d32f3d85791b765241583f">Testing Devteam 2</option>
                        <option value="67d3309f85791b765241584a">Testing Devteam 3</option>
                        <option value="67d44daf0380eb8e695a51fa">
                          New Clone Testing Coaching Form
                        </option>
                        <option value="67d44de20380eb8e695a521a">
                          New Clone Testing Coaching Form 2
                        </option>
                        <option value="67d453400380eb8e695a5259">Notify Agent</option>
                        <option value="67d453b60380eb8e695a526e">Agent View No Email</option>
                        <option value="67d454470380eb8e695a5273">Agent View Notify Agent</option>
                        <option value="67d45a1e0380eb8e695a52d5">Email is needed</option>
                        <option value="67d7ef892d21fcf1506d695c">Primary testing</option>
                        <option value="67d7f0262d21fcf1506d6963">New Structure</option>
                        <option value="67d7f6743a781af21a0dc897">long form</option>
                        <option value="67e5266c60a772356302793d">AI In Action</option>
                        <option value="67e5660060a7723563027ac9">new one</option>
                        <option value="67e573ea60a7723563027c5f">Basic AI Coaching Form</option>
                        <option value="67e80584572ea284396e93f0">
                          Mgr View Only - Email Notification Enabled
                        </option>
                        <option value="67e8066a572ea284396e93fd">
                          Mgr View Only - No Email Notification Enabled
                        </option>
                        <option value="67e806ce572ea284396e9406">
                          Agent View - Email Notification Enabled
                        </option>
                        <option value="67ff6e05ed79eb0c4dfbb1e9">New Form on April-16-25</option>
                        <option value="6802605a28175d63041c2a07">
                          Andrew Test - Basic for Scorecard
                        </option>
                        <option value="6802609128175d63041c2a09">Andrew Test - All Fields</option>
                        <option value="6808d418aba6a03bd0d7b1cf">
                          Test Safeguard added for Single Select
                        </option>
                        <option value="680f94cfa516494e93558b21">New Form April 28</option>
                        <option value="6818cc49a516494e9355b9f5">API Testing Coaching Form</option>
                        <option value="682f55699c14ca785eb35923">May 22nd Live Form</option>
                        <option value="683065e366aa90ac5a6cba7f">Form VTMO Active</option>
                        <option value="6854408674814a8e66f308f4">
                          Test Coaching Form Visible to Manager Only - Yes
                        </option>
                        <option value="686501f66acc7324b84b7689">Reports Coaching Form</option>
                        <option value="6888cb3bee2343d29fb71076">KPI Testing</option>
                        <option value="6894baea51316aa373df4b3b">fdsgag</option>
                        <option value="6894e4f44b77f25365b3cd35">New Imp Staging</option>
                        <option value="68b1a75180fc128cdd259425">V2M Active</option>
                        <option value="68c17e2a8fb36c59a68a10a3">
                          Coaching Form with commitment
                        </option>
                      </select>
                    </div>
                    <div class="my-2 ad_s">
                      <label for="" class="form-label">Additional Settings</label>
                      <div class="ml-3">
                        <div class="row row_only_s">
                          <div class="col-md-9"><p>Visible to Manager Only</p></div>
                          <div class="col-md-3 text-right">
                            <label class="ios-switch"
                              ><input
                                name="visibleToManagers"
                                formControlName="visibleToManagers"
                                type="checkbox"
                                id="test3"
                                class="toggle" /><span class=""></span
                            ></label>
                          </div>
                        </div>
                        <div class="row row_only_s">
                          <div class="col-md-9"><p>Coaching Purposes Only</p></div>
                          <div class="col-md-3 text-right">
                            <label class="ios-switch">
                              <input
                                name="coachingPurposeOnly"
                                formControlName="coachingPurposeOnly"
                                type="checkbox"
                                id="test4"
                                class="toggle" /><span class=""></span
                            ></label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-footer">
                    <button class="filter-close-btn">Cancel</button>
                    <button type="submit" class="btn-logout">Add</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          } } @else{
          <div class="btn_newui">
            <button class="btn save-only-btn br-5 mr-3" id="submitButton">Setting</button>
            <button
              class="btn save-only-btn br-5 mr-3"
              id="submitButton"
              (click)="SaveOnlyScoreCard()"
            >
              <!-- [disabled]="!canSaveScorecard()" -->
              Save Only
            </button>
            <!-- <button class="btn btn-primary save-review-btn" id="submitButton" type="submit">
              Save &amp; Publish
            </button> -->
          </div>
          }
        </div>
      </div>
      <hr />
    </div>
    @if (APIDATA()?.evaluationType == 'ai') {
    <div class="metadatasection">
      <div class="meta-data">
        <div class="heading">
          <h3>Meta Data "{{ APIDATA()?.evaluationType }} "</h3>
        </div>
        <div class="threedropdown">
          <button class="threedropbtn" (click)="toggleMetaData()">⋮</button>
        </div>
        <!-- 
        This is the Code of the meta data modal opened.. -->
      </div>
      @if (isOpenedMetaData()) {
      <div class="menu">
        <button class="btn-logout" (click)="OpenMetaDataModal()">Add Meta Data</button>
      </div>
      }
      <ul class="meta-data-descriptions" cdkDropList (cdkDropListDropped)="drop($event)">
        @for (item of submittedMetaData; track item.id; let i = $index) {
        <li class="meta-item" cdkDrag>
          <div class="meta-left">
            <div>
              <span class="drag-handle" cdkDragHandle>⋮⋮</span>
              <span class="meta-text">{{ item.title }}</span>
            </div>
            <div><button class="three-dots" (click)="toggleMenu(item.id)">⋮</button></div>
          </div>
          @if (openMenuId() === item.id) {
          <div class="dropdown-menu">
            <button (click)="editItem(item.id)" class="dropdown-btn">Edit</button>
            <button (click)="deleteItem(item.id)" class="dropdown-btn delete">Delete</button>
          </div>
          }
          <!-- 3 dot button -->
        </li>
        }
      </ul>
    </div>
    } @else {
    <div class="metadatasection">
      <div class="meta-data">
        <div class="heading">
          <h3>Meta Data "{{ APIDATA()?.evaluationType }}"</h3>
        </div>
        <div class="threedropdown">
          <button class="threedropbtn" (click)="toggleMetaData()">⋮</button>
        </div>
        <!-- 
        This is the Code of the meta data modal opened.. -->
      </div>
      @if (isOpenedMetaData()) {
      <div class="menu">
        <button class="btn-logout" (click)="OpenSingleSelectModal()">Add Single Select</button
        ><br />
        <button class="btn-logout" (click)="OpenMultiSelectModal()">Add Multi Select</button><br />
        <button class="btn-logout" (click)="OpenSmallTextModal()">Add Small Text</button><br />
        <button class="btn-logout" (click)="OpenLargeTextModal()">Add Large Text</button><br />
        <button class="btn-logout" (click)="OpenDateModal()">Add Date</button><br />
      </div>
      }
      <ul class="meta-data-descriptions" cdkDropList (cdkDropListDropped)="drop($event)">
        @for (item of submittedMetaData; track item.id; let i = $index) {
        <li class="meta-item" cdkDrag>
          <div class="meta-left">
            <div>
              <span class="drag-handle" cdkDragHandle>⋮⋮</span>
              <span class="meta-text">{{ item.title }} </span>
            </div>
            <div><button class="three-dots" (click)="toggleMenu(item.id)">⋮</button></div>
          </div>
          <!-- 3 dot button -->
          @if (openMenuId() === item.id) {
          <div class="dropdown-menu">
            <button (click)="editItem(item.id)" class="dropdown-btn">Edit</button>
            <button (click)="deleteItem(item.id)" class="dropdown-btn delete">Delete</button>
          </div>
          }
        </li>
        }
      </ul>
    </div>
    }
    <div class="metadatasection1">
      <div class="meta-data1">
        <div class="heading">
          <h3>Scoring</h3>
        </div>

        <div class="threedropdown scoring-dropdown">
          <button class="threedropbtn" (click)="ToggleScoring()">⋮</button>

          @if (isToggleScoringOpen()) {
          <div class="scoring-menu">
            <button class="btn-action" (click)="OpenScoringModal()">Add Section</button>
          </div>
          }
        </div>
      </div>
    </div>
    <ul class="meta-data-descriptions" cdkDropList (cdkDropListDropped)="dropSection($event)">
      @for (section of scoringArray(); track section.id) {
      <li class="meta-item" cdkDrag>
        <div class="meta-left">
          <div>
            <span class="drag-handle" cdkDragHandle>⋮⋮</span>
            <span class="meta-text">{{ section.value }}</span>
          </div>
          <div><button class="three-dots" (click)="toggleScoringMenu(section.id)">⋮</button></div>
        </div>
        @if (openScoringMenuId() === section.id) {
        <div class="dropdown-menu">
          <button (click)="editScoring(section.id); closeScoringMenu()" class="dropdown-btn">
            Edit Section
          </button>
          <button
            (click)="deleteScoring(section.id); closeScoringMenu()"
            class="dropdown-btn delete"
          >
            Delete Section
          </button>
          <button
            (click)="openCriteriaModal(section.id); closeScoringMenu()"
            class="dropdown-btn delete"
          >
            Add Scoring Criteria
          </button>
        </div>
        }

        <ul class="criteria-list" cdkDropList (cdkDropListDropped)="dropCriteria($event, section)">
          @for (criteria of section.criteria; track criteria.id) {
          <li
            class="meta-item nested"
            [class.editing]="
              editingCriteriaId === criteria.id &&
              activeSectionId === section.id &&
              criteriaModalOpen()
            "
            cdkDrag
          >
            <div class="meta-left">
              <div style="display: flex; align-items: center; justify-content: center">
                <div class="text">
                  <span class="drag-handle" cdkDragHandle>⋮⋮</span>
                  <span class="meta-text">{{ criteria.description }}</span>
                </div>

                @if (criteria.autofill) {
                <span class="autofill-tag">autofill </span>
                }
              </div>
              <div style="display: flex; align-items: center; justify-content: center; gap: 5px">
                <div class="criteria-input">
                  <input
                    type="number"
                    min="0"
                    max="3"
                    maxlength="3"
                    (keydown)="limitToMax($event)"
                    [value]="criteria.value || 0"
                    (input)="onCriteriaValueChange(section.id, criteria.id, $event)"
                  />
                </div>
                <div style="margin-bottom: 0">
                  <span class="percentage">{{ criteria.percentage }}%</span>
                </div>

                <button class="three-dots" (click)="toggleCriteriaMenu(criteria.id)">⋮</button>
              </div>
            </div>

            @if (openCriteriaMenuId() === criteria.id) {
            <div class="dropdown-menu">
              <button
                (click)="editCriteria(section.id, criteria.id); closeCriteriaMenu()"
                class="dropdown-btn"
              >
                Edit
              </button>
              <button
                (click)="deleteCriteria(section.id, criteria.id); closeCriteriaMenu()"
                class="dropdown-btn delete"
              >
                Delete
              </button>
            </div>
            }
          </li>
          }
        </ul>
      </li>
      }
    </ul>

    <div class="metadatasection1">
      <div class="meta-data1">
        <div class="heading">
          <h3>Total Possible Points</h3>
        </div>
        <div class="quantity"><strong>Total:</strong> {{ getGrandTotal() }}</div>
      </div>
    </div>
  </div>

  @if (isMetaDataModalOpened()) {
  <div class="metaDataModal">
    <div class="modal-content">
      <div class="modal-header hc0">
        <h3 class="modal-title text-left">Add Meta data</h3>
        <button (click)="closeMetaDataModal()" type="button" class="close close-btn">
          <span>×</span>
        </button>
      </div>
      <form [formGroup]="metaDataScoreCard" (ngSubmit)="SubmitmetaData()">
        <div class="modal-body">
          <div class="mb-1">
            <label for="exampleInputEmail1" class="form-label large-font mb-1">Description</label
            ><textarea
              name="title"
              type="textarea"
              rows="4"
              formControlName="description"
              class="form-control"
              placeholder="Enter meta data description here..."
              style="border-radius: 8px"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" (click)="closeMetaDataModal()">Cancel</button
          ><button class="btn btn-logout" type="submit">Add</button>
        </div>
      </form>
    </div>
  </div>
  }
  <!-- IsSingle select Modal -->
  @if (isSingleSelectModalOpened()) {
  <div class="metaDataModal">
    <div class="modal-content">
      <div class="modal-header hc0">
        <h3 class="modal-title text-left">Single Select Modal</h3>
        <button (click)="closeSingleSelectModal()" type="button" class="close close-btn">
          <span>×</span>
        </button>
      </div>
      <form [formGroup]="SingleSelectModal" (ngSubmit)="SubmitSingleSelectData()">
        <!-- Title -->
        <div>
          <label>Description</label>
          <textarea formControlName="title"></textarea>
        </div>

        <!-- First Level Chips -->
        <div>
          <label>Single Select Options</label>

          <mat-form-field>
            <mat-chip-grid #chipGrid1>
              @for (ctrl of optionsArray.controls; track ctrl; let i = $index) {
              <mat-chip-row (removed)="removeOptionChip(i)">
                {{ ctrl.value }}
                <button matChipRemove>&times;</button>
              </mat-chip-row>
              }
            </mat-chip-grid>
            <input [matChipInputFor]="chipGrid1" (matChipInputTokenEnd)="addOptionChip($event)" />
          </mat-form-field>
        </div>

        <!-- Toggle for 2nd Level -->
        <div class="meta-data-secondlevel">
          <label>Add Second Level</label>
          <input type="checkbox" formControlName="isSecondLevel" />
        </div>

        <!-- Second Level -->
        @if (SingleSelectModal.get('isSecondLevel')?.value) {
        <div>
          @for (subCtrl of subOptionsArray.controls; track subCtrl; let i = $index) {
          <h4>
            {{ subCtrl.get('title')?.value }}
            <span>Second Level</span>
          </h4>

          <mat-form-field>
            <mat-chip-grid #chipGrid2>
              @for (ctrl of getSecondLevelOptions(subCtrl).controls; track ctrl; let j = $index) {
              <mat-chip-row (removed)="removeSecondLevelChip(i, j)">
                {{ ctrl.value }}
                <button matChipRemove>&times;</button>
              </mat-chip-row>
              }
            </mat-chip-grid>
            <input
              [matChipInputFor]="chipGrid2"
              (matChipInputTokenEnd)="addSecondLevelChip($event, i)"
            />
          </mat-form-field>
          <!-- <mat-form-field>
            <mat-chip-grid #chipGrid2>
              @for (ctrl of getSecondLevelOptions(subCtrl).controls; track ctrl; let j = $index) {
              <mat-chip-row (removed)="removeSecondLevelChip(i, j)">
                {{ ctrl.value }}
                <button matChipRemove>&times;</button>
              </mat-chip-row>
              }
            </mat-chip-grid>
            <input
              placeholder="Enter 2nd level option"
              [matChipInputFor]="chipGrid2"
              (matChipInputTokenEnd)="addSecondLevelChip($event, i)"
            />
          </mat-form-field> -->
          <div class="meta-data-secondlevel">
            <label>Add Third Level</label>
            <input type="checkbox" />

            <!-- [formControl]="subCtrl.get('isThirdLevel')"  -->
          </div>
          @for (levelCtrl of getThirdLevels(subCtrl).controls; track levelCtrl; let j = $index) {
          <div class="ml-3">
            <label>{{ levelCtrl.get('title')?.value }} Third Level</label>
            <mat-form-field>
              <mat-chip-grid #chipGrid3>
                @for (opt of getOptionsArray(levelCtrl).controls; track opt; let k = $index) {
                <mat-chip-row (removed)="removeThirdLevelChip(i, j, k)">
                  {{ opt.value }}
                  <button matChipRemove>&times;</button>
                </mat-chip-row>
                }
              </mat-chip-grid>
              <input
                [matChipInputFor]="chipGrid3"
                (matChipInputTokenEnd)="addThirdLevelChip($event, i, j)"
              />
            </mat-form-field>
          </div>
          }
          <!-- @if (subCtrl.get('isThirdLevel')?.value) 
          {
        } -->

          }
        </div>
        }

        <!-- Third Level  rendering-->
        <div class="meta-data-chechbox">
          <input id="date-field" type="checkbox" formControlName="isRequired" />
          <label for="date-field">This meta data entry field is required</label>
        </div>
        <!-- Submit -->
        <div class="modal-footer">
          <button type="button" class="btn" (click)="closeSingleSelectModal()">Cancel</button
          ><button class="btn btn-logout" type="submit">Add</button>
        </div>
      </form>
    </div>
  </div>
  }
  <!-- IsMulti Select Modal -->
  @if (isMultiSelectModalOpened()) {
  <div class="metaDataModal">
    <div class="modal-content">
      <div class="modal-header hc0">
        <h3 class="modal-title text-left">Add Multi Select Entry</h3>
        <button (click)="closeMultiSelectModal()" type="button" class="close close-btn">
          <span>×</span>
        </button>
      </div>
      <form [formGroup]="MultiSelectModal" (ngSubmit)="SubmitMultiSelectData()">
        <div class="modal-body">
          <div class="mb-1">
            <label for="exampleInputEmail1" class="form-label large-font mb-1">Description</label
            ><textarea
              name="title"
              type="textarea"
              rows="4"
              formControlName="title"
              class="form-control"
              placeholder="Enter meta data description here..."
              style="border-radius: 8px"
            ></textarea>
          </div>
          <div class="meta-data-chechbox">
            <input id="date-field" type="checkbox" formControlName="isFormChecked" />
            <label for="date-field">This meta data entry field is required</label>
          </div>
          <div class="mb-3">
            <label class="form-label">Multi Select Option</label>
            <mat-form-field class="w-100">
              <mat-chip-grid #chipGrid aria-label="Multi select chips">
                <!-- ✅ Angular 20 block syntax -->
                @for (option of multiselectOptions; track $index) {
                <mat-chip-row [removable]="true" (removed)="removeChip(option)">
                  {{ option }}
                  <button matChipRemove>
                    <mat-icon>&times;</mat-icon>
                  </button>
                </mat-chip-row>
                }
              </mat-chip-grid>

              <input
                placeholder="Enter multi select options here..."
                [matChipInputFor]="chipGrid"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addChip($event)"
              />
            </mat-form-field>
          </div>
          <div class="meta-data-chechbox">
            <input id="date-field" type="checkbox" formControlName="isRequired" />
            <label for="date-field">This meta data entry field is required</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" (click)="closeMultiSelectModal()">Cancel</button
          ><button class="btn btn-logout" type="submit">Add</button>
        </div>
      </form>
    </div>
  </div>
  }
  <!-- Small text Modal -->
  @if (isSmallTextModalOpened()) {
  <div class="metaDataModal">
    <div class="modal-content">
      <div class="modal-header hc0">
        <h3 class="modal-title text-left">Add Small Text Entry</h3>
        <button (click)="closeSmallTextModal()" type="button" class="close close-btn">
          <span>×</span>
        </button>
      </div>
      <form [formGroup]="SmallTextModal" (ngSubmit)="SubmitSmallTextData()">
        <div class="modal-body">
          <div class="mb-1">
            <label for="exampleInputEmail1" class="form-label large-font mb-1">Description</label
            ><textarea
              name="title"
              type="textarea"
              rows="4"
              formControlName="title"
              class="form-control"
              placeholder="Enter meta data description here..."
              style="border-radius: 8px"
            ></textarea>
          </div>
          <div class="meta-data-chechbox">
            <input id="date-field" type="checkbox" formControlName="isRequired" />
            <label for="date-field">This meta data entry field is required</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" (click)="closeSmallTextModal()">Cancel</button
          ><button class="btn btn-logout" type="submit">Add</button>
        </div>
      </form>
    </div>
  </div>
  }
  <!-- Add Large Text Modal-->
  @if (isLargeTextModalOpened()) {
  <div class="metaDataModal">
    <div class="modal-content">
      <div class="modal-header hc0">
        <h3 class="modal-title text-left">Add Large Text Entry</h3>
        <button (click)="closeLargeTextModal()" type="button" class="close close-btn">
          <span>×</span>
        </button>
      </div>
      <form [formGroup]="LargeScoreCard" (ngSubmit)="SubmitLargeTextData()">
        <div class="modal-body">
          <div class="mb-1">
            <label for="exampleInputEmail1" class="form-label large-font mb-1">Description</label
            ><textarea
              name="title"
              type="textarea"
              rows="4"
              formControlName="title"
              class="form-control"
              placeholder="Enter meta data description here..."
              style="border-radius: 8px"
            ></textarea>
          </div>
          <div class="meta-data-chechbox">
            <input id="date-field" type="checkbox" formControlName="isRequired" />
            <label for="date-field">This meta data entry field is required</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" (click)="closeLargeTextModal()">Cancel</button
          ><button class="btn btn-logout" type="submit">Add</button>
        </div>
      </form>
    </div>
  </div>
  }
  <!-- Add Date Modal -->
  @if (isDateModalOpened()) {
  <div class="metaDataModal">
    <div class="modal-content">
      <div class="modal-header hc0">
        <h3 class="modal-title text-left">Add Date Entry</h3>
        <button (click)="closeDateModal()" type="button" class="close close-btn">
          <span>×</span>
        </button>
      </div>
      <form [formGroup]="DateScoreCard" (ngSubmit)="SubmitDateData()">
        <div class="modal-body">
          <div class="mb-1">
            <label for="exampleInputEmail1" class="form-label large-font mb-1">Description</label
            ><textarea
              name="title"
              type="textarea"
              rows="4"
              formControlName="title"
              class="form-control"
              placeholder="Enter Date Entry Description Here..."
              style="border-radius: 8px"
            ></textarea>
          </div>
          <div class="meta-data-chechbox">
            <input id="date-field" type="checkbox" formControlName="isRequired" />
            <label for="date-field">This meta data entry field is required</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" (click)="closeDateModal()">Cancel</button
          ><button class="btn btn-logout" type="submit">Add</button>
        </div>
      </form>
    </div>
  </div>
  }
  <!-- ================= Scoring Modal ================= -->
  @if (isScoringModalOpened()) {
  <div class="metaDataModal">
    <div class="modal-content">
      <div class="modal-header hc0">
        <h3 class="modal-title">Add Section</h3>
        <button (click)="closeScoringModal()" class="close close-btn">×</button>
      </div>

      <form [formGroup]="scoringForm" (ngSubmit)="SubmitScoring()">
        <div class="modal-body">
          <label>Description</label>
          <textarea
            formControlName="description"
            rows="4"
            class="form-control"
            placeholder="Enter section description..."
          ></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" (click)="closeScoringModal()">Cancel</button>
          <button class="btn btn-logout" type="submit">Add</button>
        </div>
      </form>
    </div>
  </div>
  }
</div>
<!-- Modal for criteria -->
@if (isCriteriaModalOpened()) {
<div class="metaDataModal">
  <div class="modal-content">
    <div class="modal-header hc0">
      <h3 class="modal-title text-left">Add Scoring Criteria</h3>
      <button (click)="closeCriteriaModal()" type="button" class="close close-btn">
        <span>×</span>
      </button>
    </div>
    <form [formGroup]="criteriaForm" (ngSubmit)="saveCriteria()">
      <div class="modal-body">
        <div class="mb-1">
          <label class="form-label mb-1">Description</label>
          <textarea
            formControlName="description"
            rows="3"
            class="form-control"
            placeholder="Enter criteria description..."
          ></textarea>
        </div>
        <div class="mb-1">
          <label>
            <input type="checkbox" formControlName="autofill" />
            Autofill
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" (click)="closeCriteriaModal()">Cancel</button>
        <button class="btn btn-logout" type="submit">
          {{ editingCriteriaId ? 'Update Criteria' : 'Add Criteria' }}
        </button>
      </div>
    </form>
  </div>
</div>
}
