<div class="overall">
  <!-- <h2>{{ APIDATA()?.scoringModel }}</h2> -->
  <div class="main-container container">
    <div class="header">
      <div class="d-flex justify-content-between align-items-center">
        <div class="left_sc_in">
          <h3 class="mb-2">{{ APIDATA()?.title }}</h3>
          @if (APIDATA()?.evaluationType == 'ai') { AI evaluationType } @else { Manual
          evaluationType }
          <p>
            Design your scorecard by adding or removing different meta data fields or scoring
            criteria
          </p>
        </div>
        <div class="table-search-right-cont">
          <div class="btn_newui">
            <button class="btn save-only-btn br-5 mr-3" id="submitButton">Setting</button>
            <button
              class="btn save-only-btn br-5 mr-3"
              id="submitButton"
              (click)="SaveOnlyScoreCard()"
              [disabled]="!canSaveScorecard()"
            >
              Save Only
            </button>
            <button class="btn btn-primary save-review-btn" id="submitButton" type="submit">
              Save &amp; Publish
            </button>
          </div>
        </div>
      </div>
      <hr />
    </div>
    @if (APIDATA()?.evaluationType == 'ai') {
    <div class="metadatasection">
      <div class="meta-data">
        <div class="heading">
          <h3>Meta Data "{{ APIDATA()?.evaluationType }}"</h3>
        </div>
        <div class="threedropdown">
          <button class="threedropbtn" (click)="toggleMetaData()">⋮</button>
        </div>
        <!-- 
        This is the Code of the meta data modal opened.. -->
      </div>
      @if (isOpenedMetaData()) {
      <div class="menu">
        <button class="btn-logout" (click)="OpenMetaDataModal()">Add Meta Data</button>
      </div>
      }
      <ul class="meta-data-descriptions" cdkDropList (cdkDropListDropped)="drop($event)">
        @for (item of submittedMetaData; track item.id; let i = $index) {
        <li class="meta-item" cdkDrag>
          <div class="meta-left">
            <div>
              <span class="drag-handle" cdkDragHandle>⋮⋮</span>
              <span class="meta-text">{{ item.title }}</span>
            </div>
            <div><button class="three-dots" (click)="toggleMenu(item.id)">⋮</button></div>
          </div>
          @if (openMenuId() === item.id) {
          <div class="dropdown-menu">
            <button (click)="editItem(item.id)" class="dropdown-btn">Edit</button>
            <button (click)="deleteItem(item.id)" class="dropdown-btn delete">Delete</button>
          </div>
          }
          <!-- 3 dot button -->
        </li>
        }
      </ul>
    </div>
    } @else {
    <div class="metadatasection">
      <div class="meta-data">
        <div class="heading">
          <h3>Meta Data "{{ APIDATA()?.evaluationType }}"</h3>
        </div>
        <div class="threedropdown">
          <button class="threedropbtn" (click)="toggleMetaData()">⋮</button>
        </div>
        <!-- 
        This is the Code of the meta data modal opened.. -->
      </div>
      @if (isOpenedMetaData()) {
      <div class="menu">
        <button class="btn-logout" (click)="OpenSingleSelectModal()">Add Single Select</button
        ><br />
        <button class="btn-logout" (click)="OpenMultiSelectModal()">Add Multi Select</button><br />
        <button class="btn-logout" (click)="OpenSmallTextModal()">Add Small Text</button><br />
        <button class="btn-logout" (click)="OpenLargeTextModal()">Add Large Text</button><br />
        <button class="btn-logout" (click)="OpenDateModal()">Add Date</button><br />
      </div>
      }
      <ul class="meta-data-descriptions" cdkDropList (cdkDropListDropped)="drop($event)">
        @for (item of submittedMetaData; track item.id; let i = $index) {
        <li class="meta-item" cdkDrag>
          <div class="meta-left">
            <div>
              <span class="drag-handle" cdkDragHandle>⋮⋮</span>
              <span class="meta-text">{{ item.title }} </span>
            </div>
            <div><button class="three-dots" (click)="toggleMenu(item.id)">⋮</button></div>
          </div>
          <!-- 3 dot button -->
          @if (openMenuId() === item.id) {
          <div class="dropdown-menu">
            <button (click)="editItem(item.id)" class="dropdown-btn">Edit</button>
            <button (click)="deleteItem(item.id)" class="dropdown-btn delete">Delete</button>
          </div>
          }
        </li>
        }
      </ul>
    </div>
    }
    <div class="metadatasection1">
      <div class="meta-data1">
        <div class="heading">
          <h3>Scoring</h3>
        </div>

        <div class="threedropdown scoring-dropdown">
          <button class="threedropbtn" (click)="ToggleScoring()">⋮</button>

          @if (isToggleScoringOpen()) {
          <div class="scoring-menu">
            <button class="btn-action" (click)="OpenScoringModal()">Add Section</button>
          </div>
          }
        </div>
      </div>
    </div>
    <ul class="meta-data-descriptions" cdkDropList (cdkDropListDropped)="dropSection($event)">
      @for (section of scoringArray(); track section.id) {
      <li class="meta-item" cdkDrag>
        <div class="meta-left">
          <div>
            <span class="drag-handle" cdkDragHandle>⋮⋮</span>
            <span class="meta-text">{{ section.value }}</span>
          </div>
          <div><button class="three-dots" (click)="toggleScoringMenu(section.id)">⋮</button></div>
        </div>
        @if (openScoringMenuId() === section.id) {
        <div class="dropdown-menu">
          <button (click)="editScoring(section.id); closeScoringMenu()" class="dropdown-btn">
            Edit Section
          </button>
          <button
            (click)="deleteScoring(section.id); closeScoringMenu()"
            class="dropdown-btn delete"
          >
            Delete Section
          </button>
          <button
            (click)="openCriteriaModal(section.id); closeScoringMenu()"
            class="dropdown-btn delete"
          >
            Add Scoring Criteria
          </button>
        </div>
        }

        <ul class="criteria-list" cdkDropList (cdkDropListDropped)="dropCriteria($event, section)">
          @for (criteria of section.criteria; track criteria.id) {
          <li
            class="meta-item nested"
            [class.editing]="
              editingCriteriaId === criteria.id &&
              activeSectionId === section.id &&
              criteriaModalOpen()
            "
            cdkDrag
          >
            <div class="meta-left">
              <div style="display: flex; align-items: center; justify-content: center">
                <div class="text">
                  <span class="drag-handle" cdkDragHandle>⋮⋮</span>
                  <span class="meta-text">{{ criteria.description }}</span>
                </div>

                @if (criteria.autofill) {
                <span class="autofill-tag">autofill </span>
                }
              </div>
              <div style="display: flex; align-items: center; justify-content: center; gap: 5px">
                <div class="criteria-input">
                  <input
                    type="number"
                    min="0"
                    max="3"
                    maxlength="3"
                    (keydown)="limitToMax($event)"
                    [value]="criteria.value || 0"
                    (input)="onCriteriaValueChange(section.id, criteria.id, $event)"
                  />
                </div>
                <div style="margin-bottom: 0">
                  <span class="percentage">{{ criteria.percentage }}%</span>
                </div>

                <button class="three-dots" (click)="toggleCriteriaMenu(criteria.id)">⋮</button>
              </div>
            </div>

            @if (openCriteriaMenuId() === criteria.id) {
            <div class="dropdown-menu">
              <button
                (click)="editCriteria(section.id, criteria.id); closeCriteriaMenu()"
                class="dropdown-btn"
              >
                Edit
              </button>
              <button
                (click)="deleteCriteria(section.id, criteria.id); closeCriteriaMenu()"
                class="dropdown-btn delete"
              >
                Delete
              </button>
            </div>
            }
          </li>
          }
        </ul>
      </li>
      }
    </ul>

    <div class="metadatasection1">
      <div class="meta-data1">
        <div class="heading">
          <h3>Total Possible Points</h3>
        </div>
        <div class="quantity"><strong>Total:</strong> {{ getGrandTotal() }}</div>
      </div>
    </div>
  </div>

  @if (isMetaDataModalOpened()) {
  <div class="metaDataModal">
    <div class="modal-content">
      <div class="modal-header hc0">
        <h3 class="modal-title text-left">Add Meta data</h3>
        <button (click)="closeMetaDataModal()" type="button" class="close close-btn">
          <span>×</span>
        </button>
      </div>
      <form [formGroup]="metaDataScoreCard" (ngSubmit)="SubmitmetaData()">
        <div class="modal-body">
          <div class="mb-1">
            <label for="exampleInputEmail1" class="form-label large-font mb-1">Description</label
            ><textarea
              name="title"
              type="textarea"
              rows="4"
              formControlName="description"
              class="form-control"
              placeholder="Enter meta data description here..."
              style="border-radius: 8px"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" (click)="closeMetaDataModal()">Cancel</button
          ><button class="btn btn-logout" type="submit">Add</button>
        </div>
      </form>
    </div>
  </div>
  }
  <!-- IsSingle select Modal -->
  @if (isSingleSelectModalOpened()) {
  <div class="metaDataModal">
    <div class="modal-content">
      <div class="modal-header hc0">
        <h3 class="modal-title text-left">Single Select Modal</h3>
        <button (click)="closeSingleSelectModal()" type="button" class="close close-btn">
          <span>×</span>
        </button>
      </div>
      <form [formGroup]="SingleSelectModal" (ngSubmit)="SubmitSingleSelectData()">
        <!-- Title -->
        <div>
          <label>Description</label>
          <textarea formControlName="title"></textarea>
        </div>

        <!-- First Level Chips -->
        <div>
          <label>Single Select Options</label>

          <mat-form-field>
            <mat-chip-grid #chipGrid1>
              @for (ctrl of optionsArray.controls; track ctrl; let i = $index) {
              <mat-chip-row (removed)="removeOptionChip(i)">
                {{ ctrl.value }}
                <button matChipRemove>&times;</button>
              </mat-chip-row>
              }
            </mat-chip-grid>
            <input [matChipInputFor]="chipGrid1" (matChipInputTokenEnd)="addOptionChip($event)" />
          </mat-form-field>
        </div>

        <!-- Toggle for 2nd Level -->
        <div class="meta-data-secondlevel">
          <label>Add Second Level</label>
          <input type="checkbox" formControlName="addSecondLevel" />
        </div>

        <!-- Second Level -->
        @if (SingleSelectModal.get('addSecondLevel')?.value) {
        <div>
          @for (subCtrl of subOptionsArray.controls; track subCtrl; let i = $index) {
          <h4>
            {{ subCtrl.get('title')?.value }}
            <span>Second Level</span>
          </h4>

          <mat-form-field style="background-color: green">
            <mat-chip-grid #chipGrid2>
              @for (ctrl of getSecondLevelOptions(subCtrl).controls; track ctrl; let j = $index) {
              <mat-chip-row (removed)="removeSecondLevelChip(i, j)">
                {{ ctrl.value }}
                <button matChipRemove>&times;</button>
              </mat-chip-row>
              }
            </mat-chip-grid>
            <input
              [matChipInputFor]="chipGrid2"
              (matChipInputTokenEnd)="addSecondLevelChip($event, i)"
            />
          </mat-form-field>
          <!-- <mat-form-field>
            <mat-chip-grid #chipGrid2>
              @for (ctrl of getSecondLevelOptions(subCtrl).controls; track ctrl; let j = $index) {
              <mat-chip-row (removed)="removeSecondLevelChip(i, j)">
                {{ ctrl.value }}
                <button matChipRemove>&times;</button>
              </mat-chip-row>
              }
            </mat-chip-grid>
            <input
              placeholder="Enter 2nd level option"
              [matChipInputFor]="chipGrid2"
              (matChipInputTokenEnd)="addSecondLevelChip($event, i)"
            />
          </mat-form-field> -->
          <div class="meta-data-secondlevel">
            <label>Add Third Level</label>
            <input type="checkbox" />

            <!-- [formControl]="subCtrl.get('isThirdLevel')"  -->
          </div>
          @for (levelCtrl of getThirdLevels(subCtrl).controls; track levelCtrl; let j = $index) {
          <div class="ml-3">
            <label>{{ levelCtrl.get('title')?.value }} Third Level</label>
            <mat-form-field style="background-color: yellow">
              <mat-chip-grid #chipGrid3>
                @for (opt of getOptionsArray(levelCtrl).controls; track opt; let k = $index) {
                <mat-chip-row (removed)="removeThirdLevelChip(i, j, k)">
                  {{ opt.value }}
                  <button matChipRemove>&times;</button>
                </mat-chip-row>
                }
              </mat-chip-grid>
              <input
                [matChipInputFor]="chipGrid3"
                (matChipInputTokenEnd)="addThirdLevelChip($event, i, j)"
              />
            </mat-form-field>
          </div>
          }
          <!-- @if (subCtrl.get('isThirdLevel')?.value) 
          {
        } -->

          }
        </div>
        }

        <!-- Third Level  rendering-->
        <div class="meta-data-chechbox">
          <input id="date-field" type="checkbox" formControlName="isFormChecked" />
          <label for="date-field">This meta data entry field is required</label>
        </div>
        <!-- Submit -->
        <div class="modal-footer">
          <button type="button" class="btn" (click)="closeSingleSelectModal()">Cancel</button
          ><button class="btn btn-logout" type="submit">Add</button>
        </div>
      </form>
    </div>
  </div>
  }
  <!-- IsMulti Select Modal -->
  @if (isMultiSelectModalOpened()) {
  <div class="metaDataModal">
    <div class="modal-content">
      <div class="modal-header hc0">
        <h3 class="modal-title text-left">Add Multi Select Entry</h3>
        <button (click)="closeMultiSelectModal()" type="button" class="close close-btn">
          <span>×</span>
        </button>
      </div>
      <form [formGroup]="MultiSelectModal" (ngSubmit)="SubmitMultiSelectData()">
        <div class="modal-body">
          <div class="mb-1">
            <label for="exampleInputEmail1" class="form-label large-font mb-1">Description</label
            ><textarea
              name="title"
              type="textarea"
              rows="4"
              formControlName="title"
              class="form-control"
              placeholder="Enter meta data description here..."
              style="border-radius: 8px"
            ></textarea>
          </div>
          <div class="meta-data-chechbox">
            <input id="date-field" type="checkbox" formControlName="isFormChecked" />
            <label for="date-field">This meta data entry field is required</label>
          </div>
          <div class="mb-3">
            <label class="form-label">Multi Select Option</label>
            <mat-form-field class="w-100">
              <mat-chip-grid #chipGrid aria-label="Multi select chips">
                <!-- ✅ Angular 20 block syntax -->
                @for (option of multiselectOptions; track $index) {
                <mat-chip-row [removable]="true" (removed)="removeChip(option)">
                  {{ option }}
                  <button matChipRemove>
                    <mat-icon>&times;</mat-icon>
                  </button>
                </mat-chip-row>
                }
              </mat-chip-grid>

              <input
                placeholder="Enter multi select options here..."
                [matChipInputFor]="chipGrid"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addChip($event)"
              />
            </mat-form-field>
          </div>
          <div class="meta-data-chechbox">
            <input id="date-field" type="checkbox" formControlName="isFormChecked" />
            <label for="date-field">This meta data entry field is required</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" (click)="closeMultiSelectModal()">Cancel</button
          ><button class="btn btn-logout" type="submit">Add</button>
        </div>
      </form>
    </div>
  </div>
  }
  <!-- Small text Modal -->
  @if (isSmallTextModalOpened()) {
  <div class="metaDataModal">
    <div class="modal-content">
      <div class="modal-header hc0">
        <h3 class="modal-title text-left">Add Small Text Entry</h3>
        <button (click)="closeSmallTextModal()" type="button" class="close close-btn">
          <span>×</span>
        </button>
      </div>
      <form [formGroup]="SmallTextModal" (ngSubmit)="SubmitSmallTextData()">
        <div class="modal-body">
          <div class="mb-1">
            <label for="exampleInputEmail1" class="form-label large-font mb-1">Description</label
            ><textarea
              name="title"
              type="textarea"
              rows="4"
              formControlName="title"
              class="form-control"
              placeholder="Enter meta data description here..."
              style="border-radius: 8px"
            ></textarea>
          </div>
          <div class="meta-data-chechbox">
            <input id="date-field" type="checkbox" formControlName="isFormChecked" />
            <label for="date-field">This meta data entry field is required</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" (click)="closeSmallTextModal()">Cancel</button
          ><button class="btn btn-logout" type="submit">Add</button>
        </div>
      </form>
    </div>
  </div>
  }
  <!-- Add Large Text Modal-->
  @if (isLargeTextModalOpened()) {
  <div class="metaDataModal">
    <div class="modal-content">
      <div class="modal-header hc0">
        <h3 class="modal-title text-left">Add Large Text Entry</h3>
        <button (click)="closeLargeTextModal()" type="button" class="close close-btn">
          <span>×</span>
        </button>
      </div>
      <form [formGroup]="LargeScoreCard" (ngSubmit)="SubmitLargeTextData()">
        <div class="modal-body">
          <div class="mb-1">
            <label for="exampleInputEmail1" class="form-label large-font mb-1">Description</label
            ><textarea
              name="title"
              type="textarea"
              rows="4"
              formControlName="title"
              class="form-control"
              placeholder="Enter meta data description here..."
              style="border-radius: 8px"
            ></textarea>
          </div>
          <div class="meta-data-chechbox">
            <input id="date-field" type="checkbox" formControlName="isFormChecked" />
            <label for="date-field">This meta data entry field is required</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" (click)="closeLargeTextModal()">Cancel</button
          ><button class="btn btn-logout" type="submit">Add</button>
        </div>
      </form>
    </div>
  </div>
  }
  <!-- Add Date Modal -->
  @if (isDateModalOpened()) {
  <div class="metaDataModal">
    <div class="modal-content">
      <div class="modal-header hc0">
        <h3 class="modal-title text-left">Add Date Entry</h3>
        <button (click)="closeDateModal()" type="button" class="close close-btn">
          <span>×</span>
        </button>
      </div>
      <form [formGroup]="DateScoreCard" (ngSubmit)="SubmitDateData()">
        <div class="modal-body">
          <div class="mb-1">
            <label for="exampleInputEmail1" class="form-label large-font mb-1">Description</label
            ><textarea
              name="title"
              type="textarea"
              rows="4"
              formControlName="title"
              class="form-control"
              placeholder="Enter Date Entry Description Here..."
              style="border-radius: 8px"
            ></textarea>
          </div>
          <div class="meta-data-chechbox">
            <input id="date-field" type="checkbox" formControlName="isFormChecked" />
            <label for="date-field">This meta data entry field is required</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" (click)="closeDateModal()">Cancel</button
          ><button class="btn btn-logout" type="submit">Add</button>
        </div>
      </form>
    </div>
  </div>
  }
  <!-- ================= Scoring Modal ================= -->
  @if (isScoringModalOpened()) {
  <div class="metaDataModal">
    <div class="modal-content">
      <div class="modal-header hc0">
        <h3 class="modal-title">Add Section</h3>
        <button (click)="closeScoringModal()" class="close close-btn">×</button>
      </div>

      <form [formGroup]="scoringForm" (ngSubmit)="SubmitScoring()">
        <div class="modal-body">
          <label>Description</label>
          <textarea
            formControlName="description"
            rows="4"
            class="form-control"
            placeholder="Enter section description..."
          ></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" (click)="closeScoringModal()">Cancel</button>
          <button class="btn btn-logout" type="submit">Add</button>
        </div>
      </form>
    </div>
  </div>
  }
</div>
<!-- Modal for criteria -->
@if (isCriteriaModalOpened()) {
<div class="metaDataModal">
  <div class="modal-content">
    <div class="modal-header hc0">
      <h3 class="modal-title text-left">Add Scoring Criteria</h3>
      <button (click)="closeCriteriaModal()" type="button" class="close close-btn">
        <span>×</span>
      </button>
    </div>
    <form [formGroup]="criteriaForm" (ngSubmit)="saveCriteria()">
      <div class="modal-body">
        <div class="mb-1">
          <label class="form-label mb-1">Description</label>
          <textarea
            formControlName="description"
            rows="3"
            class="form-control"
            placeholder="Enter criteria description..."
          ></textarea>
        </div>
        <div class="mb-1">
          <label>
            <input type="checkbox" formControlName="autofill" />
            Autofill
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" (click)="closeCriteriaModal()">Cancel</button>
        <button class="btn btn-logout" type="submit">
          {{ editingCriteriaId ? 'Update Criteria' : 'Add Criteria' }}
        </button>
      </div>
    </form>
  </div>
</div>
}
