<h1 style="text-align: center">Score Card New Component</h1>

<div class="container">
  <div class="header">
    <div>
      <h3>ScoreCard</h3>
      <p>Manage your scorecards and its details here</p>
    </div>
    <div class="right-div">
      <div class="">
        <input
          type="text"
          class="form-control searchbar"
          placeholder="Search here"
          (input)="onSearchInput($event)"
        />
      </div>
      <div class="filter">
        <button class="btn-logout" (click)="FilterToggle()">Filter</button>
      </div>
      <div class="scorecard-btn">
        <button class="btn-logout" (click)="OpenModal()">Add Scorecard</button>
      </div>
    </div>
  </div>
  @if (isActiveModal()) {

  <div class="scorecard-modal">
    <div class="form-container">
      <div class="form-header">
        <div>
          <h3>ScoreCard Setting</h3>
          <p>Manage ScoreCard Here</p>
        </div>
        <div class="close-btn btn-logout" (click)="closeModal()">close</div>
      </div>
      <div class="form-body">
        <form [formGroup]="scorecardForm" (ngSubmit)="scorecardSubmit()">
          <div class="modal-body container">
            <div class="mb-3">
              <label for="" class="form-label">Name</label
              ><input
                maxlength="64"
                name="title"
                type="text"
                class="form-control mxw-270"
                formControlName="title"
                placeholder="Enter scorecard name here..."
                required
              />
            </div>

            <div class="mb-3">
              <label for="" class="form-label">Description</label
              ><textarea
                maxlength="364"
                name="description"
                type="text"
                class="form-control"
                rows="4"
                cols="50"
                formControlName="description"
                placeholder="Enter scorecard description here..."
                style="height: 50px"
              ></textarea>
            </div>
            <div class="row" style="margin-top: 15px">
              <div class="col-md-9">
                <p class="all-groups-label">All Groups (Apply to All New Groups)</p>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Groups</label>
              <select class="form-control" multiple (change)="onGroupsChange($event)">
                Select All option
                <option value="all">Select All</option>
                <!-- Dynamic rendering using @for -->
                @for (item of groupsdata; track $index) {
                <option [value]="item._id">{{ item.title }}</option>
                }
              </select>
            </div>

            <!-- MULTI sELECT DROPDOWN...  -->
            <mat-form-field>
              <mat-label>Toppings</mat-label>
              <mat-select formControlName="groups" multiple>
                <!-- @for (topping of groupsdata; track topping) {
                <mat-option [value]="topping._id"> {{ topping }}</mat-option>
                } -->
              </mat-select>
            </mat-form-field>

            <!--  -->

            <div class="mb-3">
              <label for="" class="form-label">Evaluation Type</label
              ><select name="evaluationType" class="form-control" formControlName="evaluationType">
                <option value="" disabled="">Select Evaluation Type</option>
                <option value="manual">Manual</option>
                <option value="ai">AI</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Scoring Model</label
              ><select name="scoringModel" class="form-control" formControlName="scoringModel">
                <option value="" disabled="">Select Scoring Model</option>
                <option value="weighted">Weighted</option>
                <option value="equal">Equal</option>
                <option value="selective">Selective</option>
                <option value="audit">Audit</option>
              </select>
            </div>
            @if (scorecardForm.value.scoringModel !== 'audit') {
            <div class="">
              <label for="" class="form-label">Coaching Form</label
              ><select
                name="coachingForm"
                type="text"
                class="form-control"
                formControlName="coachingForm"
              >
                <option value="">Select Coaching Form</option>
                <option value="62c468c908f6fd2a42e044ad">Weekly Performance Review</option>
                <option value="62c46b9608f6fd2a42e044bb">One on One</option>
                <option value="63053017bff36191fc43260c">Documentation</option>
                <option value="63220239b288c12ebbbb14aa">User Feedback</option>
                <option value="63f52beb9d2946874240c301">CF - Agent Can't View</option>
                <option value="63f52c169d2946874240c303">CF - Agent Can View</option>
                <option value="63f62d299d2946874240c38f">QA - Coaching Form</option>
                <option value="6488f2588bc0bd20973cadc7">Basic Coaching Form</option>
                <option value="65a0302b1622091d5896a107">Coaching Form - Testing Groups</option>
                <option value="65a030861622091d5896a109">
                  Coaching Form - Testing Form Fields
                </option>
                <option value="6662f6f51319abb22d61fda4">
                  By checking this box, all coaching sessions comple
                </option>
                <option value="6662f74c1319abb22d61fda8">
                  By checking this box, all coaching sessions completed using this
                </option>
                <option value="6662ff071319abb22d61fdb7">Edit</option>
                <option value="666656dd1319abb22d61fdef">Commitment Testing 1</option>
                <option value="6666b4d21319abb22d61fe28">commitments testing 123</option>
                <option value="66674b131319abb22d61fe50">Generative AI Test</option>
                <option value="66684bd31319abb22d61fe75">Coaching Form Settings Reminders</option>
                <option value="66698c101319abb22d61fe8f">Add follow up date</option>
                <option value="666ac4797eb797c675521229">Coaching Form Settings 1</option>
                <option value="666ad2673d37860904e388e6">latest testing 1</option>
                <option value="666af76b3d37860904e388f6">Last Testing 1 Edit From Settings</option>
                <option value="66901b4b4e34ad5be9e3d380">Commmm</option>
                <option value="669e659135507fb1778d76aa">
                  Test Coaching Form - No Notification
                </option>
                <option value="669e722535507fb1778d76cb">
                  Test Coaching Form - No Notifications Correct
                </option>
                <option value="66cf0f878ac6ef45987565a1">Agent Notification</option>
                <option value="66cf0fdb8ac6ef45987565a8">No Agent Notification</option>
                <option value="670d3613208051aedc445f8b">Test Form</option>
                <option value="6712468c208051aedc446006">Form</option>
                <option value="6717af065cc26b25047c0f78">Five Lumens Form</option>
                <option value="67181cbb5cc26b25047c0f7a">Includes All Coaching Questions</option>
                <option value="673b075f092edff0d9210119">Scorecard Form</option>
                <option value="674b042f702ad7dc93ded1bf">
                  Basic Coaching Form with User Acknowledgement
                </option>
                <option value="674b048b702ad7dc93ded1c1">
                  Basic Coaching Form with No User Acknowledgement
                </option>
                <option value="674c7c38cdefaa1d1a669afc">All Fields</option>
                <option value="676189931ceb22a080ebf2bc">Export Test</option>
                <option value="67628c851ceb22a080ebf554">Commitments 18DEC</option>
                <option value="6762d884c4030750ca61142d">gsddgsDG</option>
                <option value="67640b2200115d6e9f7e706b">Coaching Form</option>
                <option value="67642b5904f7577542cb4f7e">ds</option>
                <option value="67696391ef8f468f9f61a373">Coaching Form for Admin</option>
                <option value="67697341ef8f468f9f61a418">23 DEC 2024</option>
                <option value="6769763fef8f468f9f61a421">Lumens Coaching Form</option>
                <option value="678561e1afce6559aa0742ac">Jan 13, 2025</option>
                <option value="67865ac5afce6559aa0744cc">New Form</option>
                <option value="678a4a644933b8d158812995">Jan 25</option>
                <option value="678d05a04933b8d1588135ae">Test - Visible to Agent</option>
                <option value="678d06354933b8d1588135b3">Test - Not Visible to Agent</option>
                <option value="67925ddb0bfaa19c2babbd23">Jan 23, 2025</option>
                <option value="6797bfd015626a218c6c2185">
                  All Groups (Apply to All New Groups)
                </option>
                <option value="6797cd5e15626a218c6c21df">27 Jan Coaching</option>
                <option value="6798a16ad115f03aeb6bb681">Clone Coaching form 27 Jan</option>
                <option value="6798d03ab256a93d5f3d2769">Jan 28</option>
                <option value="6798f15db256a93d5f3d281c">Clone Coaching Form</option>
                <option value="6798fc9f28b1544bed51fbc3">24 Cloning</option>
                <option value="6799028e28b1544bed51fcdd">asdasdasd</option>
                <option value="6799069b28b1544bed51fd38">Multi Select with more options</option>
                <option value="67990a4428b1544bed51fdb5">Advance 29</option>
                <option value="679b475f0fc5328fd21fa9f1">Final Round</option>
                <option value="679b6b68a2af2496fea680ef">All Required True</option>
                <option value="679b6e04a2af2496fea68129">xhsbxxhs jx</option>
                <option value="67adc5e5cd97fd07f8a17c1a">Live Testing Feb 13</option>
                <option value="67adfd7ecd97fd07f8a17c70">Third Level</option>
                <option value="67adfef2cd97fd07f8a17c77">Clone</option>
                <option value="67ae65e7cd97fd07f8a183f0">Simple Coaching Form</option>
                <option value="67ae79d0cd97fd07f8a1860b">Commitment</option>
                <option value="67b49bbc1e6509364b9b0803">Test - All Groups - Agent View</option>
                <option value="67b4a7581e6509364b9b08a5">Visible to Manager Only</option>
                <option value="67b4aa2f1e6509364b9b08f5">Another Form</option>
                <option value="67b5a0571e6509364b9b0e21">H - Visible to Manage Only</option>
                <option value="67b5a08e1e6509364b9b0e25">H - Not Visible to Manger Only</option>
                <option value="67b5aa9752dc11bb4cf458a8">testing visibilty</option>
                <option value="67c08cc7341000a487ac2460">Coaching Form Edited</option>
                <option value="67c0df026b832fac2e4acbf0">
                  Coaching Form - Single &amp; Multi Select - All Groups
                </option>
                <option value="67d320d55a08ab6cac659d16">Testing Email with Manager Only</option>
                <option value="67d321925a08ab6cac659d3f">Testing Email with Agent View</option>
                <option value="67d323b95a08ab6cac659d96">Testing email with agent view</option>
                <option value="67d32ec985791b7652415834">Testing Devteam</option>
                <option value="67d32f3d85791b765241583f">Testing Devteam 2</option>
                <option value="67d3309f85791b765241584a">Testing Devteam 3</option>
                <option value="67d44daf0380eb8e695a51fa">New Clone Testing Coaching Form</option>
                <option value="67d44de20380eb8e695a521a">New Clone Testing Coaching Form 2</option>
                <option value="67d453400380eb8e695a5259">Notify Agent</option>
                <option value="67d453b60380eb8e695a526e">Agent View No Email</option>
                <option value="67d454470380eb8e695a5273">Agent View Notify Agent</option>
                <option value="67d45a1e0380eb8e695a52d5">Email is needed</option>
                <option value="67d7ef892d21fcf1506d695c">Primary testing</option>
                <option value="67d7f0262d21fcf1506d6963">New Structure</option>
                <option value="67d7f6743a781af21a0dc897">long form</option>
                <option value="67e5266c60a772356302793d">AI In Action</option>
                <option value="67e5660060a7723563027ac9">new one</option>
                <option value="67e573ea60a7723563027c5f">Basic AI Coaching Form</option>
                <option value="67e80584572ea284396e93f0">
                  Mgr View Only - Email Notification Enabled
                </option>
                <option value="67e8066a572ea284396e93fd">
                  Mgr View Only - No Email Notification Enabled
                </option>
                <option value="67e806ce572ea284396e9406">
                  Agent View - Email Notification Enabled
                </option>
                <option value="67ff6e05ed79eb0c4dfbb1e9">New Form on April-16-25</option>
                <option value="6802605a28175d63041c2a07">Andrew Test - Basic for Scorecard</option>
                <option value="6802609128175d63041c2a09">Andrew Test - All Fields</option>
                <option value="6808d418aba6a03bd0d7b1cf">
                  Test Safeguard added for Single Select
                </option>
                <option value="680f94cfa516494e93558b21">New Form April 28</option>
                <option value="6818cc49a516494e9355b9f5">API Testing Coaching Form</option>
                <option value="682f55699c14ca785eb35923">May 22nd Live Form</option>
                <option value="683065e366aa90ac5a6cba7f">Form VTMO Active</option>
                <option value="6854408674814a8e66f308f4">
                  Test Coaching Form Visible to Manager Only - Yes
                </option>
                <option value="686501f66acc7324b84b7689">Reports Coaching Form</option>
                <option value="6888cb3bee2343d29fb71076">KPI Testing</option>
                <option value="6894baea51316aa373df4b3b">fdsgag</option>
                <option value="6894e4f44b77f25365b3cd35">New Imp Staging</option>
                <option value="68b1a75180fc128cdd259425">V2M Active</option>
                <option value="68c17e2a8fb36c59a68a10a3">Coaching Form with commitment</option>
              </select>
            </div>
            <div class="my-2 ad_s">
              <label for="" class="form-label">Additional Settings</label>
              <div class="ml-3">
                <div class="row row_only_s">
                  <div class="col-md-9"><p>Visible to Manager Only</p></div>
                  <div class="col-md-3 text-right">
                    <label class="ios-switch"
                      ><input
                        name="visibleToManagers"
                        formControlName="visibleToManagers"
                        type="checkbox"
                        id="test3"
                        class="toggle" /><span class=""></span
                    ></label>
                  </div>
                </div>
                <div class="row row_only_s">
                  <div class="col-md-9"><p>Coaching Purposes Only</p></div>
                  <div class="col-md-3 text-right">
                    <label class="ios-switch">
                      <input
                        name="coachingPurposeOnly"
                        formControlName="coachingPurposeOnly"
                        type="checkbox"
                        id="test4"
                        class="toggle" /><span class=""></span
                    ></label>
                  </div>
                </div>
              </div>
            </div>
            }
          </div>
          <div class="form-footer">
            <a class="btn-logout close-btn decoration-0" (click)="OpenModal()">Cancel</a>
            <button type="submit" class="btn-logout">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  } @if (filterToggle()) {
  <div class="filter-Modal">
    Filters Modal
    <div class="form-container">
      <div class="filter-header">
        <h4>Filters</h4>
        <div class="close-filter btn-logout" (click)="closeFilter()">close</div>
      </div>
      <form [formGroup]="filterForm" (ngSubmit)="filterScorecardSubmit()">
        <div class="modal-body filter_body">
          <div class="mb-3">
            <label for="evaluationTypeFilter" class="form-label">Evaluation Type</label
            ><select
              id="evaluationTypeFilter"
              name="evaluationTypeFilter"
              formControlName="evaluationTypeFilter"
              class="form-control"
            >
              <option value="">Select Evaluation Type</option>
              <option value="manual">Manual</option>
              <option value="ai">AI</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="scoringModelFilter" class="form-label">Scoring Model</label
            ><select
              id="scoringModelFilter"
              name="scoringModelFilter"
              formControlName="scoringModelFilter"
              class="form-control"
            >
              <option value="">Select Scoring Model</option>
              <option value="weighted">Weighted</option>
              <option value="equal">Equal</option>
              <option value="selective">Selective</option>
              <option value="audit">Audit</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="groups" class="form-label">Group</label>
            <div class="mb-3">
              <label class="form-label">Groups</label>
              <select class="form-control" multiple (change)="onFilterGroupChange($event)">
                Select All option
                <option value="all">Select All</option>

                <!-- Dynamic rendering using @for -->
                @for (item of groupsdata; track $index) {
                <option [value]="item._id">{{ item.title }}</option>
                }
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="isActive" class="form-label">Status</label
            ><select id="isActive" name="isActive" class="form-control" formControlName="isActive">
              <option value="">All Status</option>
              <option value="true">Active</option>
              <option value="false">Inactive</option>
              <option value="notPublished">Not Published</option>
            </select>
          </div>
        </div>
        <div class="modal-footer filter_p_f">
          <button type="button" class="filter-close-btn" (click)="closeFilter()">Clear</button
          ><button type="submit" class="btn btn-theme1 btn-logout">Filter</button>
        </div>
      </form>
    </div>
  </div>
  }
  <h1>Scorecard Data:</h1>
  <div class="scorecard-container">
    <!-- Table Header -->
    <div class="table-header">
      <div class="col col-name">Name & Description</div>
      <div class="col">Evaluation</div>
      <div class="col">Scoring</div>
      <div class="col">Updated</div>
      <div class="col">Status</div>
      <div class="col">Actions</div>
    </div>

    <!-- Table Rows -->
    <div class="table-body">
      @for (item of scData(); track $index) { @if(item.isActive){
      <div class="table-row">
        <div class="col col-name">
          <div class="title">{{ item.title }}</div>
          <div class="desc">{{ item.description }}</div>
        </div>
        <div class="col">{{ item.evaluationType }}</div>
        <div class="col">{{ item.scoringModel }}</div>
        <div class="col">{{ item.updatedAt | date : 'dd/MM/yyyy' }}</div>
        <div class="col">
          <label class="switch">
            <input type="checkbox" [checked]="item.isActive" />
            <span class="slider"></span>
          </label>
        </div>
        <div class="col actions">
          <button (click)="Open3DotDropDown(item._id)" class="dots">⋮</button>
        </div>

        @if (is3DotDropdown() === item._id) {
        <div class="dropdown">
          <div class="dropdown-btn">
            <button class="btn-logout" (click)="View(item._id); close3DotDropDown()">View</button>
          </div>
          <div class="dropdown-btn">
            <button class="btn-logout" (click)="EditScorecard(item._id); close3DotDropDown()">
              Edit
            </button>
          </div>
          <div class="dropdown-btn">
            <button class="btn-logout" (click)="DeleteScorecard(item._id); close3DotDropDown()">
              Delete
            </button>
          </div>
          <div class="dropdown-btn"><button class="btn-logout">Clone</button></div>
          <div class="dropdown-btn"><button class="btn-logout">Evaluate</button></div>
        </div>

        }
      </div>
      } } @empty {
      <tr>
        <td colspan="3">No records found</td>
      </tr>
      }
      <div class="pagination-container">
        <!-- Show entries dropdown -->
        <div class="page-size">
          <label>Show</label>
          <select (change)="changePageSize($event)" [value]="pageSize()">
            @for (size of [10, 25, 50, 100]; track size) {
            <option (click)="fetchData()" [value]="size">{{ size }}</option>
            }
          </select>
          <span>entries of {{ totalItems() }}</span>
        </div>

        <!-- Prev / Next buttons + current page info -->
        <div class="page-nav">
          <button (click)="previousPage()" [disabled]="currentPage() === 1">←</button>
          <span>Page {{ currentPage() }} of {{ totalPages() }}</span>
          <button (click)="nextPage()" [disabled]="currentPage() === totalPages()">→</button>
        </div>
      </div>
    </div>
    @if (notification()) {
    <div class="toast">
      {{ notification() }}
    </div>
    }
  </div>
</div>
