<div class="layout-container">
  <h2 class="layout-title">Welcome to the Layout Page</h2>
  <p class="layout-subtitle">This is a sample layout component.</p>

  <nav class="layout-nav">
    <a routerLink="/scorecard" routerLinkActive="active">Score Card</a>
    <a routerLink="/scorecardnew" routerLinkActive="active">ScoreCard New</a>
    <a routerLink="/view" routerLinkActive="active">view</a>
  </nav>
  <h1>{{ totalCost }}</h1>
  <p>{{ authkey }}</p>
  <button class="btn-logout" (click)="OnLogOut()">Log Out</button>
  <button (click)="toggleModal()" class="btn-logout">
    {{ isVisible() ? 'Close Modal' : 'Open Modal' }}
  </button>

  @if (isVisible()) { this is the modal i have }
</div>
