.modal-dialog .modal-content {
  padding: 20px !important;
}
.modal-content {
  overflow: visible !important;
}
.modal-content {
  border-radius: 10px !important;
  overflow: hidden;
}
.modal-content {
  padding: 10px;
  border: 1px solid #b7d2e5;
  border-radius: 4px;
  padding-bottom: 7px;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 16%);
}
.modal-content {
  padding: 10px;
  border: 1px solid #b7d2e5;
  border-radius: 4px;
  padding-bottom: 7px;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 16%);
}
.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.coaching-form-settings .modal-header {
  padding: 5px 5px 15px;
}
.sc_setting .modal-header {
  border: 0 !important;
  display: block;
}
.modal-dialog .modal-header {
  padding: 0px 5px 10px;
  border-bottom: 1px solid #c5d9e8;
  position: relative;
}
.modal-dialog .modal-header {
  padding: 0px 5px 10px;
  border-bottom: 1px solid #c5d9e8;
  position: relative;
}
.modal-header {
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.coaching-form-settings h3 {
  line-height: 26px;
  font-family: 'Inter';
}

.modal-dialog h3 {
  color: #0a090b;
  font-weight: 600;
  font-size: 20px;
}
.modal-dialog h3 {
  color: #0a090b;
  font-weight: 600;
  font-size: 20px;
  font-family: 'Inter';
}
.modal-title {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  color: #0a090b;
}
.text-left {
  text-align: left !important;
}
.sc_setting .modal-header p {
  font-size: 16px;
  color: #2d2b32;
  font-family: 'Inter';
}
.modal-dialog p {
  margin-bottom: 0px;
}
.modal-dialog p {
  font-size: 15px;
}
.modal-dialog p {
  margin-bottom: 0px;
}
.modal-dialog p {
  font-size: 15px;
}
p {
  color: #3f536e;
  font-size: 17px;
  line-height: 19px;
}
p {
  color: #3f536e;
  font-size: 17px;
  line-height: 19px;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.modal-header .close {
  position: absolute;
  right: 19px;
  top: 20px;
  background: white;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 1px #ccc;
  padding: 0 4px;
  font-size: 30px;
  font-weight: 300;
  color: #475f7b;
  opacity: 1;
  line-height: 0.8;
}
.modal-content .close {
  position: absolute;
  right: 19px;
  top: 20px;
  background: white;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 1px #ccc;
  padding: 0 4px;
  font-size: 30px;
  font-weight: 300;
  color: #475f7b;
  opacity: 1;
  line-height: 0.8;
  z-index: 9;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-header .close {
  position: absolute;
  right: 19px;
  top: 20px;
  background: white;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 1px #ccc;
  padding: 0 4px;
  font-size: 30px;
  font-weight: 300;
  color: #475f7b;
  opacity: 1;
  line-height: 0.8;
}
.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
/* [type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
} */
button,
select {
  text-transform: none;
}
button,
input {
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  border-radius: 0;
}
