/* You can add global styles to this file, and also import other style files */
/* For plain CSS */
@import 'bootstrap/dist/css/bootstrap.min.css';
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  min-height: 20px;
}
